@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 87.5rem;
  padding-inline: 1.9375rem;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  [class$=__container] {
    padding-inline: 1rem;
  }
}

.button {
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border-radius: 2.5rem;
  border: 0.0625rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button--dark {
  background-color: #000;
}
.button--gray-border {
  border-color: #4f4f53;
  color: #4f4f53;
}
@media (any-hover: hover) {
  .button:hover {
    border-color: #fff;
  }
  .button:hover.button--dark {
    background-color: transparent;
  }
  .button:hover.button--gray-border {
    border-color: #000;
    color: #000;
  }
}

.header {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  min-width: calc(100% - 2.5rem);
  color: #fff;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
}
.header__container {
  padding-block: 0.46875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.8125rem;
     -moz-column-gap: 3.8125rem;
          column-gap: 3.8125rem;
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media (max-width: 991.98px) {
  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #4f4f53;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 3.75rem;
    -webkit-padding-before: 8.125rem;
            padding-block-start: 8.125rem;
    -webkit-padding-after: 2.5rem;
            padding-block-end: 2.5rem;
    padding-inline: 2.5rem;
  }
  .header__menu .button {
    font-size: 1.375rem;
    padding: 1.25rem 1.875rem;
  }
  body._active .header__menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 991.98px) {
  .header__nav {
    max-height: 80svh;
    overflow-y: auto;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991.98px) {
  .header__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 50;
}
.logo::before {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  background: url(../images/icons/logomark.svg) center/contain no-repeat;
}
.logo__text {
  font-size: 1.1875rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.625rem;
}
@media (max-width: 991.98px) {
  .navigation__list {
    font-size: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;
  }
}
.navigation__link {
  will-change: transform, text-decoration;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: capitalize;
  position: relative;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
            transform: translateY(-20%);
    text-decoration: underline;
  }
}
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}
.burger {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  z-index: 50;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.25rem;
}
.burger span {
  display: inline-block;
}
.burger::before, .burger::after {
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger::before, .burger::after, .burger span {
  width: 60%;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
.burger span {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
body._active .burger span {
  width: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
body._active .burger::before, body._active .burger::after, body._active .burger span {
  position: absolute;
}
body._active .burger::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
body._active .burger::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
@media (max-width: 991.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero__container {
  border-radius: 1rem;
  padding-block: 2.5rem;
  background-color: #4f4f53;
  min-height: calc(100svh - 2.5rem);
}