@import url("https://fonts.googleapis.com/css?family=DM+Sans:regular,500,600&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.2;
}
body._active {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
}
@media (max-width: 767.98px) {
  .wrapper {
    padding: 1rem;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 87.5rem;
  padding-inline: 1.9375rem;
  margin: 0 auto;
}
@media (max-width: 767.98px) {
  [class$=__container] {
    padding-inline: 1rem;
  }
}

.button {
  padding: 0.75rem 1.25rem;
  font-weight: 600;
  text-align: center;
  border-radius: 2.5rem;
  border: 0.0625rem solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button::first-letter {
  text-transform: uppercase;
}
.button--dark {
  background-color: #000;
  color: #fff;
}
.button--gray-border {
  border-color: #4f4f53;
  color: #4f4f53;
}
@media (any-hover: hover) {
  .button:hover {
    border-color: #fff;
  }
  .button:hover.button--dark {
    background-color: transparent;
    color: #000;
    border-color: #000;
  }
  .button:hover.button--gray-border {
    color: #fff;
    background-color: #4f4f53;
  }
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.section-header__title {
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 91.375em) {
  .section-header__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 2rem , 1.7916666667rem  +  0.7751937984vw , 2.5rem )) {
    .section-header__title {
      font-size: clamp( 2rem , 1.7916666667rem  +  0.7751937984vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.7916666667rem  +  0.7751937984vw , 2.5rem )) {
    .section-header__title {
      font-size: calc(2rem + 0.5 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .section-header__title {
    font-size: 2rem;
  }
}
@media (min-width: 91.375em) {
  .section-header__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .section-header__text {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .section-header__text {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .section-header__text {
    font-size: 1rem;
  }
}
.section-header--centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.adventure-card {
  aspect-ratio: 430/400;
  font-size: 0;
  border-radius: 1rem;
  overflow: hidden;
}
.adventure-card__link {
  position: relative;
  width: 100%;
  height: 100%;
}
.adventure-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.adventure-card__content {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  padding-inline: 2rem;
  padding-block: 1.9375rem;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
}
@media (min-width: 91.375em) {
  .adventure-card__city {
    font-size: 1.75rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .adventure-card__city {
      font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .adventure-card__city {
      font-size: calc(1.375rem + 0.375 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .adventure-card__city {
    font-size: 1.375rem;
  }
}
@media (min-width: 91.375em) {
  .adventure-card__location {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .adventure-card__location {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .adventure-card__location {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .adventure-card__location {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .adventure-card:hover .adventure-card__image {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
  }
}

.excursion-card {
  position: relative;
  font-size: 0;
  border-radius: 1rem;
  overflow: hidden;
}
.excursion-card__link {
  width: 100%;
  height: 100%;
}
@media (any-hover: hover) {
  .excursion-card__link:hover .excursion-card__image {
    -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
            transform: scale(1.02);
  }
}
.excursion-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 430/400;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.excursion-card__info {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 96.2790697674%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}
.excursion-card__info-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 91.375em) {
  .excursion-card__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .excursion-card__title {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .excursion-card__title {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .excursion-card__title {
    font-size: 1rem;
  }
}
.excursion-card__title:not(:last-child) {
  margin-bottom: 0.25rem;
}
.excursion-card__location {
  font-size: 0.875rem;
  font-weight: 500;
  color: #4f4f53;
}
.excursion-card__info-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
}
.excursion-card__price {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #4f4f53;
}
@media (min-width: 91.375em) {
  .excursion-card__price {
    font-size: 1rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .excursion-card__price {
      font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .excursion-card__price {
      font-size: calc(0.875rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .excursion-card__price {
    font-size: 0.875rem;
  }
}
.excursion-card__price span {
  font-weight: 600;
  color: #000;
}
@media (min-width: 91.375em) {
  .excursion-card__price span {
    font-size: 1.25rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.125rem , 1.0729166667rem  +  0.1937984496vw , 1.25rem )) {
    .excursion-card__price span {
      font-size: clamp( 1.125rem , 1.0729166667rem  +  0.1937984496vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0729166667rem  +  0.1937984496vw , 1.25rem )) {
    .excursion-card__price span {
      font-size: calc(1.125rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .excursion-card__price span {
    font-size: 1.125rem;
  }
}
.excursion-card__rate-lable {
  min-width: 3.375rem;
  border-radius: 3rem;
  padding-inline: 0.5rem;
  background-color: #f2dbb1;
  color: #dd9115;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.25rem;
     -moz-column-gap: 0.25rem;
          column-gap: 0.25rem;
  font-size: 0.875rem;
}
.excursion-card__rate-lable::before {
  content: "";
  width: 1em;
  height: 1em;
  background: url("../images/excursions/star.webp") center/contain no-repeat;
}

.review-card {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.8125rem;
  border-radius: 1rem;
  border: 0.0625rem solid #e5e5e5;
}
@media (max-width: 767.98px) {
  .review-card {
    padding: 1.25rem;
  }
}
.review-card__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 91.375em) {
  .review-card__text {
    font-size: 1.75rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .review-card__text {
      font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .review-card__text {
      font-size: calc(1.375rem + 0.375 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .review-card__text {
    font-size: 1.375rem;
  }
}

.author-review > * {
  margin-bottom: 0.25rem;
}
.author-review > *:last-child {
  margin-bottom: 0;
}
.author-review__avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  aspect-ratio: 56/56;
  margin-bottom: 0.5rem;
}
.author-review__name {
  font-size: 1.25rem;
  font-weight: 600;
}
.author-review__position {
  color: #4f4f53;
}

.header {
  position: absolute;
  z-index: 1000;
  top: 1.25rem;
  left: 1.25rem;
  min-width: calc(100% - 2.5rem);
  color: #fff;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
}
.header__container {
  padding-block: 0.46875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.8125rem;
     -moz-column-gap: 3.8125rem;
          column-gap: 3.8125rem;
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .logo {
  z-index: 30;
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
@media (max-width: 991.98px) {
  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100svh;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #4f4f53;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 3.75rem;
    -webkit-padding-before: 8.125rem;
            padding-block-start: 8.125rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
    padding-inline: 1.25rem;
  }
  .header__menu .button {
    font-size: 1.25rem;
    padding: 1.0625rem 1.5625rem;
  }
  body._active .header__menu {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
@media (max-width: 991.98px) and (max-width: 767.98px) {
  .header__menu {
    -webkit-padding-after: 1rem;
            padding-block-end: 1rem;
    padding-inline: 1rem;
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 991.98px) {
  .header__nav {
    max-height: 80svh;
    overflow-y: auto;
  }
}
@media (max-width: 991.98px) {
  .header__nav .navigation__list {
    font-size: 1.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3rem;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991.98px) {
  .header__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.4375rem;
     -moz-column-gap: 0.4375rem;
          column-gap: 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.logo::before {
  content: "";
  width: 1.875rem;
  height: 1.875rem;
  background: url(../images/icons/logomark.svg) center/contain no-repeat;
}
.logo__text {
  font-size: 1.1875rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 0.625rem;
}
.navigation__link {
  will-change: transform, text-decoration;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  text-transform: capitalize;
  position: relative;
}
@media (any-hover: hover) {
  .navigation__link:hover {
    -webkit-transform: translateY(-20%);
        -ms-transform: translateY(-20%);
            transform: translateY(-20%);
    text-decoration: underline;
  }
}
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.75rem;
     -moz-column-gap: 0.75rem;
          column-gap: 0.75rem;
}

.burger {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  z-index: 30;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.25rem;
}
.burger span {
  display: inline-block;
}
.burger::before, .burger::after {
  content: "";
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.burger::before, .burger::after, .burger span {
  width: 60%;
  height: 0.125rem;
  background-color: #fff;
  border-radius: 0.25rem;
}
.burger span {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
body._active .burger span {
  width: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
body._active .burger::before, body._active .burger::after, body._active .burger span {
  position: absolute;
}
body._active .burger::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}
body._active .burger::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
@media (max-width: 991.98px) {
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.hero {
  color: #fff;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
}
.hero__container {
  border-radius: 1rem;
  -webkit-padding-before: 5rem;
          padding-block-start: 5rem;
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
  background-color: #4f4f53;
  min-height: calc(100svh - 2.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__background-image {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  aspect-ratio: 1400/772;
}
.hero__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
@media (max-width: 767.98px) {
  .hero__content .button {
    font-size: 0.875rem;
  }
}
.hero__header {
  max-width: 40.75rem;
  row-gap: 1.5rem;
}
.hero__header .section-header__title {
  font-weight: 600;
}
@media (min-width: 91.375em) {
  .hero__header .section-header__title {
    font-size: 4.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 2.25rem , 1.46875rem  +  2.9069767442vw , 4.125rem )) {
    .hero__header .section-header__title {
      font-size: clamp( 2.25rem , 1.46875rem  +  2.9069767442vw , 4.125rem );
    }
  }
  @supports not (font-size: clamp( 2.25rem , 1.46875rem  +  2.9069767442vw , 4.125rem )) {
    .hero__header .section-header__title {
      font-size: calc(2.25rem + 1.875 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .hero__header .section-header__title {
    font-size: 2.25rem;
  }
}
@media (min-width: 91.375em) {
  .hero__header .section-header__text {
    font-size: 1rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .hero__header .section-header__text {
      font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .hero__header .section-header__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .hero__header .section-header__text {
    font-size: 0.875rem;
  }
}
.statistic {
  position: relative;
}
@media (min-width: 991.98px) {
  .statistic {
    padding-inline: 3.0625rem;
  }
}
.statistic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 991.98px) {
  .statistic__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767.98px) {
  .statistic__list {
    gap: 0.8125rem;
  }
}
.statistic__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  line-height: 1.28;
}
@media (max-width: 991.98px) {
  .statistic__item {
    min-width: 35%;
  }
}
@media (min-width: 91.375em) {
  .statistic__amount {
    font-size: 1.75rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .statistic__amount {
      font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .statistic__amount {
      font-size: calc(1.375rem + 0.375 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .statistic__amount {
    font-size: 1.375rem;
  }
}
@media (min-width: 91.375em) {
  .statistic__description {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .statistic__description {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .statistic__description {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .statistic__description {
    font-size: 1rem;
  }
}

.explore {
  padding-block: 5rem;
}
@media (max-width: 767.98px) {
  .explore {
    padding-block: 3rem;
  }
}
.explore__container:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 767.98px) {
  .explore__container:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.explore__header {
  max-width: 38rem;
  margin: 0 auto;
}
@media (min-width: 991.98px) {
  .explore__header {
    row-gap: 1.5rem;
  }
}

@media (max-width: 1439.98px) {
  .explore-swiper {
    width: 100vw;
    -webkit-transform: translateX(-1.25rem);
        -ms-transform: translateX(-1.25rem);
            transform: translateX(-1.25rem);
  }
}
@media (max-width: 767.98px) {
  .explore-swiper {
    -webkit-transform: translateX(-1rem);
        -ms-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
}
.explore-swiper__container {
  position: relative;
}
@media (max-width: 1439.98px) {
  .explore-swiper__container {
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
.explore-swiper .swiper {
  position: static;
  max-width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.explore-swiper .swiper-slide {
  width: 26.875rem;
  min-height: 25rem;
}
@media (max-width: 767.98px) {
  .explore-swiper .swiper-slide {
    width: 18.75rem;
    min-height: 16.875rem;
  }
}
@media (max-width: 370px) {
  .explore-swiper .swiper-slide {
    width: 17rem;
  }
  .explore-swiper .swiper-slide .adventure-card {
    aspect-ratio: 272/270;
  }
}
.explore-swiper .button-prev, .explore-swiper .button-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
  border: 0.125rem solid #fff;
  background: url("../images/icons/arrow.svg") center/0.5rem 0.875rem no-repeat, #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .explore-swiper .button-prev:hover, .explore-swiper .button-next:hover {
    background-color: #4f4f53;
  }
}
.explore-swiper .button-prev {
  left: 0.875rem;
}
@media (max-width: 1439.98px) {
  .explore-swiper .button-prev {
    left: 1.9375rem;
  }
}
.explore-swiper .button-next {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  right: 0.875rem;
}
@media (max-width: 1439.98px) {
  .explore-swiper .button-next {
    right: 1.9375rem;
  }
}

.guide__container {
  padding-block: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .guide__container {
    padding-block: 3rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.guide__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.8125rem;
          flex: 0 1 36.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 767.98px) {
  .guide__content {
    row-gap: 2rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.guide__header .section-header__text {
  color: #4f4f53;
}
@media (min-width: 91.375em) {
  .guide__header .section-header__text {
    font-size: 1rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .guide__header .section-header__text {
      font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .guide__header .section-header__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .guide__header .section-header__text {
    font-size: 0.875rem;
  }
}
.guide__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
}
.guide__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.guide__item::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  background-position: center;
  background-size: 1.875rem;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .guide__item::before {
    width: 3rem;
    height: 3rem;
    background-size: 1.5rem;
  }
}
.guide__item.guide__item--destination::before {
  background-image: url("../images/icons/destination.svg");
}
.guide__item.guide__item--luggage::before {
  background-image: url("../images/icons/luggage.svg");
}
.guide__item.guide__item--route::before {
  background-image: url("../images/icons/way.svg");
}
.guide__title {
  font-weight: 500;
}
@media (min-width: 91.375em) {
  .guide__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.3875968992vw , 1.5rem )) {
    .guide__title {
      font-size: clamp( 1.25rem , 1.1458333333rem  +  0.3875968992vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.25rem , 1.1458333333rem  +  0.3875968992vw , 1.5rem )) {
    .guide__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .guide__title {
    font-size: 1.25rem;
  }
}
.guide__title:not(:last-child) {
  margin-bottom: 0.5rem;
}
.guide__description {
  color: #4f4f53;
}
@media (min-width: 91.375em) {
  .guide__description {
    font-size: 1rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .guide__description {
      font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8229166667rem  +  0.1937984496vw , 1rem )) {
    .guide__description {
      font-size: calc(0.875rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .guide__description {
    font-size: 0.875rem;
  }
}
.guide__image-block {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36rem;
          flex: 0 1 36rem;
  height: 30rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .guide__image-block {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 22.875rem;
        flex-basis: 22.875rem;
    height: 25rem;
  }
}
@media (max-width: 479.98px) {
  .guide__image-block {
    height: 19.0625rem;
  }
}
.guide__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 576/480;
}

.excursions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2.5rem;
}
@media (min-width: 91.375em) {
  .excursions__container {
    padding-block: 5rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .excursions__container {
      padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem );
    }
  }
  @supports not (padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .excursions__container {
      padding-block: calc(3rem + 2 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .excursions__container {
    padding-block: 3rem;
  }
}
@media (max-width: 767.98px) {
  .excursions__container {
    row-gap: 2rem;
  }
}
.excursions__header {
  max-width: 45rem;
}
.excursions__header .section-header__text {
  color: #4f4f53;
}
@media (min-width: 91.375em) {
  .excursions__header .section-header__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .excursions__header .section-header__text {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .excursions__header .section-header__text {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .excursions__header .section-header__text {
    font-size: 1rem;
  }
}
.excursions__swiper {
  position: relative;
  width: 100%;
}
@media (max-width: 1439.98px) {
  .excursions__swiper {
    width: 100vw;
  }
}
.excursions__swiper .swiper-slide {
  width: 26.875rem;
  min-height: 25rem;
}
@media (max-width: 767.98px) {
  .excursions__swiper .swiper-slide {
    width: 20rem;
    min-height: 17.5rem;
  }
}
@media (max-width: 370px) {
  .excursions__swiper .swiper-slide {
    width: 17rem;
  }
  .excursions__swiper .swiper-slide .adventure-card {
    aspect-ratio: 272/270;
  }
}

@media (min-width: 91.375em) {
  .reviews {
    padding-block: 5rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .reviews {
      padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem );
    }
  }
  @supports not (padding-block: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .reviews {
      padding-block: calc(3rem + 2 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .reviews {
    padding-block: 3rem;
  }
}
.reviews__container:not(:last-child) {
  margin-bottom: 2.5rem;
}
.reviews__header {
  max-width: 45rem;
  margin: 0 auto;
}
.reviews__swiper {
  width: 100vw;
  position: relative;
  left: -1.25rem;
}
@media (max-width: 767.98px) {
  .reviews__swiper {
    left: -1rem;
  }
}
.reviews__swiper .swiper-slide {
  width: 30.9375rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__swiper .swiper-slide .review-card {
  width: 100%;
}
@media (max-width: 767.98px) {
  .reviews__swiper .swiper-slide {
    width: 20rem;
  }
}

@media (min-width: 91.375em) {
  .start-adventure {
    -webkit-padding-after: 5rem;
            padding-block-end: 5rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (padding-block-end: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .start-adventure {
      -webkit-padding-after: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem );
              padding-block-end: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem );
    }
  }
  @supports not (padding-block-end: clamp( 3rem , 2.1666666667rem  +  3.1007751938vw , 5rem )) {
    .start-adventure {
      -webkit-padding-after: calc(3rem + 2 * (100vw - 26.875rem) / 64.5);
              padding-block-end: calc(3rem + 2 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .start-adventure {
    -webkit-padding-after: 3rem;
            padding-block-end: 3rem;
  }
}
.start-adventure__container {
  max-width: 76rem;
  padding: 4rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .start-adventure__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-inline: 1.5rem;
    padding-block: 2.5rem;
  }
}
.start-adventure__header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 34.25rem;
          flex: 0 1 34.25rem;
}
.start-adventure__header .section-header__title {
  font-weight: 400;
}
@media (min-width: 91.375em) {
  .start-adventure__header .section-header__title {
    font-size: 1.75rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .start-adventure__header .section-header__title {
      font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.375rem , 1.21875rem  +  0.5813953488vw , 1.75rem )) {
    .start-adventure__header .section-header__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .start-adventure__header .section-header__title {
    font-size: 1.375rem;
  }
}
.start-adventure__header .section-header__text {
  color: #4f4f53;
}
@media (min-width: 91.375em) {
  .start-adventure__header .section-header__text {
    font-size: 1.125rem;
  }
}
@media (min-width: 26.875em) and (max-width: 91.375em) {
  @supports (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .start-adventure__header .section-header__text {
      font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9479166667rem  +  0.1937984496vw , 1.125rem )) {
    .start-adventure__header .section-header__text {
      font-size: calc(1rem + 0.125 * (100vw - 26.875rem) / 64.5);
    }
  }
}
@media (max-width: 26.875em) {
  .start-adventure__header .section-header__text {
    font-size: 1rem;
  }
}
@media (max-width: 57.5rem) {
  .start-adventure__header {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.start-adventure__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  gap: 0.75rem;
}
@media (max-width: 57.5rem) {
  .start-adventure__actions {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
@media (max-width: 767.98px) {
  .start-adventure__actions {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.start-adventure__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.start-adventure__button.button--dark {
  text-transform: capitalize;
}
@media (max-width: 767.98px) {
  .start-adventure__button {
    min-width: 100%;
  }
}