.button {
    padding: toRem(12) toRem(20);
    font-weight: 600;
    text-align: center;
    border-radius: toRem(40);
    border: toRem(1) solid transparent;
    transition: all 0.3s;
    &::first-letter {
        text-transform: uppercase;
    }

    &--dark {
        background-color: #000;
        color: #fff;
    }
    &--gray-border {
        border-color: $greyColor;
        color: $greyColor;
    }
    &--white {
        background-color: #fff;
        color: #000;
    }
    @media (any-hover: hover) {
        &:hover {
            border-color: #fff;
            &.button--dark {
                background-color: transparent;
                color: #000;
                border-color: #000;
            }
            &.button--gray-border,
            &.button--white {
                color: #fff;
                background-color: $greyColor;
            }
        }
    }
}
.section-header {
    display: flex;
    flex-direction: column;
    row-gap: toRem(16);
    // .section-header__title

    &__title {
        @include adaptiveValue("font-size", 40, 32);
        font-weight: 500;
        line-height: 1.2;
    }

    // .section-header__text

    &__text {
        @include adaptiveValue("font-size", 18, 16);
    }
    &--centered {
        align-items: center;
        text-align: center;
    }
}
.adventure-card {
    aspect-ratio: 430 / 400;
    font-size: 0;
    border-radius: toRem(16);
    overflow: hidden;

    // .adventure-card__link

    &__link {
        position: relative;
        width: 100%;
        height: 100%;
    }

    // .adventure-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s;
    }

    // .adventure-card__content

    &__content {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        padding-inline: toRem(32);
        padding-block: toRem(31);
        color: #fff;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    // .adventure-card__city

    &__city {
        @include adaptiveValue("font-size", 28, 22);
    }

    // .adventure-card__location

    &__location {
        @include adaptiveValue("font-size", 18, 16);
    }
    @media (any-hover: hover) {
        &:hover .adventure-card__image {
            transform: scale(1.03);
        }
    }
}
.excursion-card {
    position: relative;
    font-size: 0;
    border-radius: toRem(16);
    overflow: hidden;

    // .excursion-card__link

    &__link {
        width: 100%;
        height: 100%;
        @media (any-hover: hover) {
            &:hover .excursion-card__image {
                transform: scale(1.02);
            }
        }
    }

    // .excursion-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 430 / 400;
        transition: transform 0.3s;
    }

    // .excursion-card__info

    &__info {
        position: absolute;
        left: toRem(8);
        bottom: toRem(8);
        width: toPercent(414, 430);
        border-radius: toRem(16);
        padding: toRem(16);
        background-color: #fff;
        display: flex;
        flex-direction: column;
        row-gap: toRem(16);
    }
    //excursion-card__info-header
    &__info-header {
        flex-grow: 1;
    }

    // .excursion-card__title

    &__title {
        @include adaptiveValue("font-size", 18, 16);
        &:not(:last-child) {
            margin-bottom: toRem(4);
        }
    }

    // .excursion-card__location

    &__location {
        font-size: toRem(14);
        font-weight: 500;
        color: $greyColor;
    }

    // .excursion-card__info-footer

    &__info-footer {
        display: flex;
        align-items: flex-end;
        column-gap: toRem(10);
    }

    // .excursion-card__price

    &__price {
        flex-grow: 1;
        color: $greyColor;
        @include adaptiveValue("font-size", 16, 14);
        & span {
            @include adaptiveValue("font-size", 20, 18);
            font-weight: 600;
            color: #000;
        }
    }

    // .excursion-card__rate-lable

    &__rate-lable {
        min-width: toRem(54);
        border-radius: toRem(48);
        padding-inline: toRem(8);
        background-color: #f2dbb1;
        color: #dd9115;
        display: flex;
        align-items: center;
        column-gap: toRem(4);
        font-size: toRem(14);
        &::before {
            content: "";
            width: 1em;
            height: 1em;
            background: url("../images/excursions/star.webp") center/ contain no-repeat;
        }
    }
}
.review-card {
    padding: toRem(32);
    display: flex;
    flex-direction: column;
    row-gap: toRem(29);
    border-radius: toRem(16);
    border: toRem(1) solid #e5e5e5;
    @media (max-width: $mobile) {
        padding: toRem(20);
    }

    // .review-card__text

    &__text {
        @include adaptiveValue("font-size", 28, 22);
        flex-grow: 1;
    }
}
.author-review {
    & > * {
        margin-bottom: toRem(4);
    }
    & > *:last-child {
        margin-bottom: 0;
    }
    // .author-reviwe__avatar

    &__avatar {
        width: toRem(56);
        height: toRem(56);
        border-radius: 50%;
        aspect-ratio: 56 / 56;
        margin-bottom: toRem(8);
    }

    // .author-reviwe__name

    &__name {
        font-size: toRem(20);
        font-weight: 600;
    }

    // .author-reviwe__position

    &__position {
        color: $greyColor;
    }
}
