.button {
    padding: toRem(12) toRem(20);
    font-weight: 600;
    text-align: center;
    border-radius: toRem(40);
    border: toRem(1) solid transparent;
    transition: all 0.3s;
    &::first-letter {
        text-transform: uppercase;
    }

    &--dark {
        background-color: #000;
        color: #fff;
    }
    &--gray-border {
        border-color: $greyColor;
        color: $greyColor;
    }
    @media (any-hover: hover) {
        &:hover {
            border-color: #fff;
            &.button--dark {
                background-color: transparent;
                color: #000;
                border-color: #000;
            }
            &.button--gray-border {
                border-color: #000;
                color: #000;
            }
        }
    }
}
.section-header {
    display: flex;
    flex-direction: column;
    row-gap: toRem(16);
    // .section-header__title

    &__title {
        @include adaptiveValue("font-size", 40, 32);
        font-weight: 500;
        line-height: 1.2;
    }

    // .section-header__text

    &__text {
        @include adaptiveValue("font-size", 18, 16);
    }
    &--centered {
        align-items: center;
        text-align: center;
    }
}
.adventure-card {
    aspect-ratio: 430 / 400;
    font-size: 0;

    // .adventure-card__link

    &__link {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: toRem(16);
        overflow: hidden;
    }

    // .adventure-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        transition: transform 0.3s;
    }

    // .adventure-card__content

    &__content {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        width: 100%;
        padding-inline: toRem(32);
        padding-block: toRem(31);
        color: #fff;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    }

    // .adventure-card__city

    &__city {
        @include adaptiveValue("font-size", 28, 22);
    }

    // .adventure-card__location

    &__location {
        @include adaptiveValue("font-size", 18, 16);
    }
    @media (any-hover: hover) {
        &:hover .adventure-card__image {
            transform: scale(1.03);
        }
    }
}
