.hero {
    color: #fff;
    padding-block-end: toRem(20);
    // .hero__container

    &__container {
        border-radius: toRem(16);
        padding-block-start: toRem(80);
        padding-block-end: toRem(40);
        background-color: $greyColor;
        min-height: calc(100svh - toRem(40));
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
    //hero__background
    &__background {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
    //hero__background-image
    &__background-image {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: top center;
        aspect-ratio: 1400 / 772;
    }
    // .hero__content
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: toRem(40);
        align-items: center;
        justify-content: center;
        position: relative;
        & .button {
            @media (max-width: $mobile) {
                font-size: toRem(14);
            }
        }
    }

    // .hero__header

    &__header {
        max-width: toRem(652);
        row-gap: toRem(24);
        & .section-header__title {
            @include adaptiveValue("font-size", 66, 36);
            font-weight: 600;
        }
        & .section-header__text {
            @include adaptiveValue("font-size", 16, 14);
        }
    }

    // .hero__link

    &__link {
    }
}

.statistic {
    position: relative;

    @media (min-width: $tablet) {
        padding-inline: toRem(49);
    }
    // .statistic__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: toRem(16);
        @media (max-width: $tablet) {
            justify-content: space-around;
        }
        @media (max-width: $mobile) {
            gap: toRem(13);
        }
    }

    // .statistic__item

    &__item {
        flex-shrink: 0;
        text-align: center;
        line-height: 1.28;
        @media (max-width: $tablet) {
            min-width: 35%;
        }
    }

    // .statistic__amount

    &__amount {
        @include adaptiveValue("font-size", 28, 22);
    }

    // .statistic__description

    &__description {
        @include adaptiveValue("font-size", 18, 16);
    }
}

// Explore section
.explore {
    padding-block: toRem(80);
    @media (max-width: $mobile) {
        padding-block: toRem(48);
    }
    // .explore__container

    &__container {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(32);
            }
        }
    }

    // .explore__header

    &__header {
        max-width: toRem(608);
        margin: 0 auto;

        @media (min-width: $tablet) {
            row-gap: toRem(24);
        }
    }
}
.explore-swiper {
    @media (max-width: 1439.98px) {
        width: 100vw;
        transform: translateX(toRem(-20));
    }
    @media (max-width: $mobile) {
        transform: translateX(toRem(-16));
    }
    &__container {
        position: relative;
        @media (max-width: 1439.98px) {
            padding: 0;
            margin: 0;
            max-width: 100%;
        }
    }

    & .swiper {
        position: static;
        max-width: 100%;
        height: max-content;
    }

    & .swiper-slide {
        width: toRem(430);
        min-height: toRem(400);
        @media (max-width: $mobile) {
            width: toRem(300);
            min-height: toRem(270);
        }
        @media (max-width: 370px) {
            width: toRem(272);
            & .adventure-card {
                aspect-ratio: 272 / 270;
            }
        }
    }

    & .button-prev,
    & .button-next {
        position: absolute;
        top: 50%;
        z-index: 5;
        transform: translateY(-50%);
        width: toRem(34);
        height: toRem(34);
        border-radius: 50%;
        border: toRem(2) solid #fff;
        background:
            url("../images/icons/arrow.svg") center/toRem(8) toRem(14) no-repeat,
            #000;
        transition: background-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $greyColor;
            }
        }
    }
    & .button-prev {
        left: toRem(14);
        @media (max-width: 1439.98px) {
            left: toRem(31);
        }
    }
    & .button-next {
        transform: translateY(-50%) rotate(180deg);
        right: toRem(14);
        @media (max-width: 1439.98px) {
            right: toRem(31);
        }
    }
}

//guide section
.guide {
    // .guide__container

    &__container {
        padding-block: toRem(80);
        display: flex;

        justify-content: space-between;
        gap: toRem(32);
        @media (max-width: $mobile) {
            padding-block: toRem(48);
            flex-wrap: wrap;
        }
    }

    // .guide__content

    &__content {
        flex: 0 1 toRem(589);
        display: flex;
        flex-direction: column;
        row-gap: toRem(48);
        align-items: flex-start;
        @media (max-width: $mobile) {
            row-gap: toRem(32);
            flex-grow: 1;
        }
    }

    // .guide__header

    &__header {
        & .section-header__text {
            @include adaptiveValue("font-size", 16, 14);
            color: $greyColor;
        }
    }

    // .guide__list

    &__list {
    }

    // .guide__item

    &__item {
        display: flex;
        column-gap: toRem(24);

        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
        &::before {
            content: "";
            flex-shrink: 0;
            align-self: flex-start;
            width: toRem(64);
            height: toRem(64);
            border-radius: 50%;
            background-color: #f5f5f5;
            background-position: center;
            background-size: toRem(30);
            background-repeat: no-repeat;
            @media (max-width: $mobile) {
                width: toRem(48);
                height: toRem(48);
                background-size: toRem(24);
            }
        }
        &.guide__item--destination::before {
            background-image: url("../images/icons/destination.svg");
        }
        &.guide__item--luggage::before {
            background-image: url("../images/icons/luggage.svg");
        }
        &.guide__item--route::before {
            background-image: url("../images/icons/way.svg");
        }
    }

    // .guide__item-text

    &__item-text {
    }

    // .guide__title

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }

    // .guide__description

    &__description {
        @include adaptiveValue("font-size", 16, 14);
        color: $greyColor;
    }

    // .guide__image-block

    &__image-block {
        align-self: center;
        flex: 0 1 toRem(576);
        // width: toRem(576);
        height: toRem(480);
        border-radius: toRem(16);
        overflow: hidden;
        @media (max-width: $mobile) {
            flex-grow: 1;
            flex-basis: toRem(366);
            height: toRem(400);
        }
        @media (max-width: $smallMobile) {
            height: toRem(305);
        }
    }

    // .guide__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 576 / 480;
    }
}
