.hero {
    color: #fff;
    padding-block-end: toRem(20);
    // .hero__container

    &__container {
        border-radius: toRem(16);
        padding-block-start: toRem(80);
        padding-block-end: toRem(40);
        background-color: $greyColor;
        min-height: calc(100svh - toRem(40));
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }
    //hero__background
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 76.05%, rgba(0, 0, 0, 0.4) 100%);
        }
    }
    //hero__background-image
    &__background-image {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: top center;
        aspect-ratio: 1400 / 772;
    }
    // .hero__content
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: toRem(40);
        align-items: center;
        justify-content: center;
        position: relative;
        & .button {
            @media (max-width: $mobile) {
                font-size: toRem(14);
            }
        }
    }

    // .hero__header

    &__header {
        max-width: toRem(652);
        row-gap: toRem(24);
        & .section-header__title {
            @include adaptiveValue("font-size", 66, 36);
            font-weight: 600;
        }
        & .section-header__text {
            @include adaptiveValue("font-size", 16, 14);
        }
    }

    // .hero__link

    &__link.button {
        @media (any-hover: hover) {
            &:hover {
                border-color: #fff;
                color: #fff;
                border-color: #fff;
            }
        }
    }
}

.statistic {
    position: relative;
    z-index: 3;

    @media (min-width: $tablet) {
        padding-inline: toRem(49);
    }
    // .statistic__list

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: toRem(16);
        @media (max-width: $tablet) {
            justify-content: space-around;
        }
        @media (max-width: $mobile) {
            gap: toRem(13);
        }
    }

    // .statistic__item

    &__item {
        flex-shrink: 0;
        text-align: center;
        line-height: 1.28;
        @media (max-width: $tablet) {
            min-width: 35%;
        }
    }

    // .statistic__amount

    &__amount {
        @include adaptiveValue("font-size", 28, 22);
    }

    // .statistic__description

    &__description {
        @include adaptiveValue("font-size", 18, 16);
    }
}

// Explore section
.explore {
    padding-block: toRem(80);
    @media (max-width: $mobile) {
        padding-block: toRem(48);
    }
    // .explore__container

    &__container {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: toRem(32);
            }
        }
    }

    // .explore__header

    &__header {
        max-width: toRem(608);
        margin: 0 auto;

        @media (min-width: $tablet) {
            row-gap: toRem(24);
        }
    }
}
.explore-swiper {
    @media (max-width: 1439.98px) {
        width: 100vw;
        transform: translateX(toRem(-20));
    }
    @media (max-width: $mobile) {
        transform: translateX(toRem(-16));
    }
    &__container {
        position: relative;
        @media (max-width: 1439.98px) {
            padding: 0;
            margin: 0;
            max-width: 100%;
        }
    }

    & .swiper {
        position: static;
        max-width: 100%;
        height: max-content;
    }

    & .swiper-slide {
        width: toRem(430);
        min-height: toRem(400);
        @media (max-width: $mobile) {
            width: toRem(300);
            min-height: toRem(270);
        }
        @media (max-width: 370px) {
            width: toRem(272);
            & .adventure-card {
                aspect-ratio: 272 / 270;
            }
        }
    }

    & .button-prev,
    & .button-next {
        position: absolute;
        top: 50%;
        z-index: 5;
        transform: translateY(-50%);
        width: toRem(34);
        height: toRem(34);
        border-radius: 50%;
        border: toRem(2) solid #fff;
        background:
            url("../images/icons/arrow.svg") center/toRem(8) toRem(14) no-repeat,
            #000;
        transition: background-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                background-color: $greyColor;
            }
        }
    }
    & .button-prev {
        left: toRem(14);
        @media (max-width: 1439.98px) {
            left: toRem(31);
        }
    }
    & .button-next {
        transform: translateY(-50%) rotate(180deg);
        right: toRem(14);
        @media (max-width: 1439.98px) {
            right: toRem(31);
        }
    }
}

//guide section
.guide {
    // .guide__container

    &__container {
        padding-block: toRem(80);
        display: flex;

        justify-content: space-between;
        gap: toRem(32);
        @media (max-width: $mobile) {
            padding-block: toRem(48);
            flex-wrap: wrap;
        }
    }

    // .guide__content

    &__content {
        flex: 0 1 toRem(589);
        display: flex;
        flex-direction: column;
        row-gap: toRem(48);
        align-items: flex-start;
        @media (max-width: $mobile) {
            row-gap: toRem(32);
            flex-grow: 1;
        }
    }

    // .guide__header

    &__header {
        & .section-header__text {
            @include adaptiveValue("font-size", 16, 14);
            color: $greyColor;
        }
    }

    // .guide__item

    &__item {
        display: flex;
        column-gap: toRem(24);

        &:not(:last-child) {
            margin-bottom: toRem(24);
        }
    }
    //guide__item-image-block
    &__item-image-block {
        flex-shrink: 0;
        align-self: flex-start;
        width: toRem(64);
        height: toRem(64);
        border-radius: 50%;
        background-color: #f5f5f5;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $mobile) {
            width: toRem(48);
            height: toRem(48);
            background-size: toRem(24);
        }
    }
    //guide__item-image
    &__item-image {
        width: 50%;
        height: 50%;
    }
    // .guide__title

    &__title {
        @include adaptiveValue("font-size", 24, 20);
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: toRem(8);
        }
    }

    // .guide__description

    &__description {
        @include adaptiveValue("font-size", 16, 14);
        color: $greyColor;
    }

    // .guide__image-block

    &__image-block {
        align-self: center;
        flex: 0 1 toRem(576);
        // width: toRem(576);
        height: toRem(480);
        border-radius: toRem(16);
        overflow: hidden;
        @media (max-width: $mobile) {
            flex-grow: 1;
            flex-basis: toRem(366);
            height: toRem(400);
        }
        @media (max-width: $smallMobile) {
            height: toRem(305);
        }
    }

    // .guide__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 576 / 480;
    }
}

//excursions section
.excursions {
    // .excursions__container

    &__container {
        @include adaptiveValue("padding-block", 80, 48);
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(40);
        @media (max-width: $mobile) {
            row-gap: toRem(32);
        }
    }

    // .excursions__header

    &__header {
        max-width: toRem(720);
        // .section-header__text

        & .section-header__text {
            color: $greyColor;
            @include adaptiveValue("font-size", 18, 16);
        }
    }

    // .excursions__swiper

    &__swiper {
        position: relative;
        width: 100%;
        @media (max-width: 1439.98px) {
            width: 100vw;
        }
        & .swiper-slide {
            width: toRem(430);
            min-height: toRem(400);
            @media (max-width: $mobile) {
                width: toRem(320);
                min-height: toRem(280);
            }
            @media (max-width: 370px) {
                width: toRem(272);
                & .adventure-card {
                    aspect-ratio: 272 / 270;
                }
            }
        }
    }
}

//reviews section
.reviews {
    @include adaptiveValue("padding-block", 80, 48);
    // .reviews__container

    &__container {
        &:not(:last-child) {
            margin-bottom: toRem(40);
        }
    }

    // .reviews__header

    &__header {
        max-width: toRem(720);
        margin: 0 auto;
    }

    // .reviews__swiper

    &__swiper {
        width: 100vw;
        position: relative;
        left: toRem(-20);
        @media (max-width: $mobile) {
            left: toRem(-16);
        }
        & .swiper-slide {
            width: toRem(495);
            height: auto;
            display: flex;
            & .review-card {
                width: 100%;
            }
            @media (max-width: $mobile) {
                width: toRem(320);
            }
        }
    }
}

//start-adventure section

.start-adventure {
    @include adaptiveValue("padding-block-end", 80, 48);
    // .start-adventure__container

    &__container {
        max-width: toRem(1216);
        padding: toRem(64);
        border-radius: toRem(16);
        background-color: #f5f5f5;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: toRem(32);
        @media (max-width: $mobile) {
            flex-wrap: wrap;
            padding-inline: toRem(24);
            padding-block: toRem(40);
        }
    }

    // .start-adventure__header

    &__header {
        flex: 0 1 toRem(548);
        // max-width: toRem(548);

        // .section-header__title

        & .section-header__title {
            @include adaptiveValue("font-size", 28, 22);
            font-weight: 400;
        }

        // .section-header__text

        & .section-header__text {
            @include adaptiveValue("font-size", 18, 16);
            color: $greyColor;
        }
        @media (max-width: toRem(920)) {
            flex-grow: 1;
        }
    }

    // .start-adventure__actions

    &__actions {
        flex-shrink: 0;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        gap: toRem(12);
        @media (max-width: toRem(920)) {
            flex-shrink: 1;
        }
        @media (max-width: $mobile) {
            flex-grow: 1;
        }
    }

    // .start-adventure__button

    &__button {
        flex-shrink: 0;
        &.button--dark {
            text-transform: capitalize;
        }
        @media (max-width: $mobile) {
            min-width: 100%;
        }
    }
}
