$minWidth: 430;
$maxWidth: 1440;
$maxWidthContainer: 1400;
$containerPadding: 62;
$containerWidth: $maxWidthContainer + $containerPadding;

$laptop: 1199.98px;
$tablet: 991.98px;
$mobile: 767.98px;
$smallMobile: 479.98px;

$greyColor: #4f4f53;
