@use "sass:math";
@import "fonts";
@import "reset";
@import "variables";
@import "mixins";
html {
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif;
    line-height: 1.2;
    &._active {
        overflow: hidden;
    }
}
.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
    padding: toRem(20);
    @media (max-width: $mobile) {
        padding: toRem(16);
    }
}
.wrapper > main {
    flex-grow: 1;
}

[class$="__container"] {
    max-width: toRem($maxWidthContainer);
    padding-inline: toRem(31);
    margin: 0 auto;
    @media (max-width: $mobile) {
        padding-inline: toRem(16);
    }
}

@import "common";
@import "header";
@import "main";
@import "footer";
